header {
    font-family: "Rock Salt", cursive;
    background-color: gray;
}

.container-fluid img{
    float: right;
    width: 360px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footicons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}