html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin:0;
}

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: "Source Code Pro", monospace;
}

span {
  color: #ccc;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  transition: opacity 2s ease-in-out 1.5s;
  opacity: 0;
  animation: subtitle 2s 1.5s forwards;
}

/* Span animation */
@keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NAVBAR */
nav {
  width: 100%;
  padding-top: 25px;
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

nav a {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-bottom: 3px;
  color: #ccc;
  text-decoration: none;
}

/* ABOUT ME */
#aboutme:target {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutme {
  display: none;
}

#aboutme:target + #home {
  display: none;
}

#aboutme:target + #home + #contact {
  transition: none;
}

p {
  color: #ccc;
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
  max-width: 700px;
  margin: 5px;
  padding: 5px;
}

img {
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

/* CONTACT */
#contact:target {
  opacity: 1;
}

#contact {
  margin-bottom: 25px;
  height: 350px;
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}
#social_media {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#contact a {
  color: #ccc;
}

/* Typing effect */

h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #0e76a8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 48% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0e76a8; }
}