html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

header {
    background-image: url(./images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Rock Salt", cursive;
    display: flex;
    justify-content: flex-end;
}

.sidebar{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.profile {
    font-family: "Scheherazade", serif;
    display: flex;
    flex-direction: column;
}

.history {
    background-color: gray;
    font-family: "Scheherazade", serif;
    display: flex;
    flex-direction: column;
}

.study {
    font-family: "Scheherazade", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.work {
    font-family: "Scheherazade", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact {
    font-family: "Scheherazade", serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:
}