.contact {
  display: flex;
  justify-content: space-around;
  padding-top: 6%;
}

.contact a {
  color: #33D9CB;
}

.contact i {
  color: #33D9CB;
  padding: 5px;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  flex-grow: 0.1;
}

.contactInformation h1 {
  color: #33D9CB;
}

.contactInformation i {
  color: #587084;
}

.contactInformation a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

.contactIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* RESPONSIVE */
@media screen and (max-width: 800px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact h1 {
    font-size: 45px;
  }
}