.subtitle {
  font-family: "Source Code Pro", monospace;
  color: #33D9CB;
  transition: opacity 2s ease-in-out 1.5s;
  opacity: 0;
  animation: subtitle 2s 1.5s forwards;
}

.description {
  transition: opacity 3s ease-in-out 2s;
  opacity: 0;
  animation: subtitle 3s 2s forwards;
}

@keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#root {
  height: 100%;
  background: url("./../../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

html, body {
  height: 100%;
  background-color: black;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  #root {
    background-position: center;
  }
}